.job-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: box-shadow 0.3s ease;
    height: 170px;
}

.job-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.job-details {
    flex-grow: 1;
    margin-left: 20px;
}

.job-details h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.job-details h3 {
    margin: 5px 0;
    font-size: 16px;
    color: gray;
}

.job-details p {
    margin: 3px 0;
    font-size: 14px;
    color: #555;
}

.apply-btn {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover {
    background-color: #4b007b;
}
